body {
    font-family: Arial, sans-serif;
    background-color: #a0adab;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 60px;
    color: white;
    width: 100%;
    padding: 20px;
    background: linear-gradient(-90deg, rgba(37,41,94,1) 0%, rgba(0,61,255,1) 100%);
    top: 0;
    z-index: 1000; /*ensures header is on top of other elements*/
    border-style: ridge;
    border-color: black;
}

p {
    font-family: "Caveat Brush", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    text-shadow: 2px 2px 3px black;
}

h1 {
    display: flex;
    justify-content: center; /*centers h1 element*/
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 3px white;
    color: rgb(15, 15, 71);
    font-size: 40px;
}

h2 {
    display: flex;
    justify-content: left;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-shadow: 2px 2px 3px white;
    color: rgb(197, 229, 250);
    font-size: 25px;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-shadow: 2px 2px 3px rgb(26, 67, 180);
    color: rgb(112, 247, 252);
    font-size: 26px;
    text-decoration: underline;
}

.container {
    display: flex;
    margin-top: 110px;
    width: 100%;
    padding-left: 5px;
    box-sizing: border-box;
    height: calc(100vh - 80px); /* Adjusts to take the full height minus the header */
}

.search-container {
    background: linear-gradient(-90deg, rgb(56, 64, 173) 0%, rgba(0,61,255,1) 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    margin-top: 25px;
    flex-shrink: 0; /*prevents the search container from shrinking*/
    width: 400px;
    border-style: ridge;
    border-color: black;
}

.search-container form {
    display: flex;
    flex-direction: column; /*stacks the form elements vertically*/
}

.search-container input, .search-container select, .search-container button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    background-color: #22c8e6;
    color: #fff;
    border: none;
    cursor: pointer; /*changes the cursor to a pointer on the button*/
    border-radius: 15px;
    border-style: ridge;
    border-color: black;
}

.search-container button:hover {
    background-color: #486369;
}

.results-container.hidden {
    display: none; /*hides the results container until a search is made*/
}

.results-container {
    flex-grow: 1; /*allows the container to grow*/
    box-sizing: border-box;
}

.results {
    background: rgb(4, 4, 37);
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.result-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    color: black;
}

.result-item:last-child {
    border-bottom: none;
}

.results-header {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-shadow: 2px 2px 3px white;
    color: rgb(20, 20, 87);
    font-size: 35px;
}

.search-history {
    margin-top: 20px;
}

.search-history .history-btn {
    display: block;
    width: 100%;
    background-color: #5c6566;
    color: #000000;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    border-style: ridge;
    border-color: black;
}

.search-history .history-btn:hover {
    background-color: #41b0c4;
}

.today-forecast, .five-day-forecast {
    background: linear-gradient(-90deg, rgba(37,41,94,1) 0%, rgba(0,61,255,1) 100%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.today-forecast {
    margin-top: 25px;
    text-align: left;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(20, 8, 122, 0.1);
    margin-bottom: 15px;
    width: 97%;
    border-style: ridge;
    border-color: black;
}

.five-day-forecast-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-shadow: 2px 2px 3px white;
    color: rgb(15, 15, 71);
    font-size: 25px;
}

.five-day-forecast {
    display: flex;
    justify-content: space-between; /*creates space between five day forecast items*/
    flex-direction: row;
    border-style: ridge;
    border-color: black;
}

.forecast-item { 
    color: rgb(243, 243, 243);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 98.5%;
}

.forecast-item .today {
    width: 100%;
    padding: 30px; /* Increase padding for larger size */
    box-shadow: none;
    background: linear-gradient(-90deg, rgba(37,41,94,1) 0%, rgba(0,61,255,1) 100%);
}

.five-day-forecast .forecast-item {
    background-color: rgb(12, 10, 87); 
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 15px;
    text-align: center;
    width: 18%; /* Adjust width of the five-day forecast boxes */
    border-style: ridge;
    border-color: black;
}