body {
    font-family: Arial, sans-serif;
    background-color: #c8c7ce;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 60px;
    color: white;
    width: 100%;
    padding: 20px;
    background: radial-gradient(circle, rgba(63,76,251,1) 0%, rgba(44,148,207,1) 100%);
    top: 0;
    z-index: 1000;
}

h3 {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    font-size: 26px;
    font-weight: bold;
}

p {
    font-family: "Caveat Brush", cursive;
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
}

a {
    color: rgb(56, 161, 196);
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 3px white;
    color: rgb(15, 15, 71);
    font-size: 45px;
}

h2 {
    display: flex;
    justify-content: left;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-shadow: 2px 2px 3px white;
    color: rgb(15, 15, 71);
    font-size: 25px;
}

h3 {
    display: flex;
    justify-content: center;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-shadow: 2px 2px 3px white;
    color: rgb(14, 14, 90);
    font-size: 25px;
}

.container {
    display: flex;
    margin-top: 90px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    height: calc(100vh - 80px); /* Adjusts to take the full height minus the header */
}

.search-container {
    background: radial-gradient(circle, rgba(63,76,251,1) 0%, rgba(44,148,207,1) 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-top: 25px;
    flex-shrink: 0; /*prevents the search container from shrinking*/
    width: 400px;
}

.search-container form {
    display: flex;
    flex-direction: column;
}

.search-container input, .search-container select, .search-container button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    background-color: #22c8e6;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #486369;
}

.results-container.hidden {
    display: none;
}

.results-container {
    flex-grow: 1;
    box-sizing: border-box;
    overflow-y: auto; /* Ensure the results container can scroll if content overflows */
}

.results {
    background: rgb(4, 4, 37);
    margin-top: 5px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.result-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background: radial-gradient(circle, rgba(63,76,251,1) 0%, rgba(44,148,207,1) 100%); 
    margin-bottom: 10px;
    border-radius: 15px;
    color: black;
}

.result-item:last-child {
    border-bottom: none;
}

.results-header {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-shadow: 2px 2px 3px white;
    color: rgb(15, 15, 71);
    font-size: 35px;
}

.search-history {
    margin-top: 20px;
}

.search-history .history-btn {
    display: block;
    width: 100%;
    background-color: #5c6566;
    color: #000000;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
}

.search-history .history-btn:hover {
    background-color: #41b0c4;
}

.today-forecast, .five-day-forecast {
    background: linear-gradient(-90deg, rgba(21,32,180,1) 0%, rgba(44,148,207,1) 100%);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.today-forecast {
    margin-top: 25px;
    text-align: left;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

}

.five-day-forecast-header {
    margin-bottom: 10px;
    display: flex;
    justify-content: left;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-shadow: 2px 2px 3px white;
    color: rgb(15, 15, 71);
    font-size: 25px;
}

.five-day-forecast {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.forecast-item {
    background-color: rgb(125, 189, 241); 
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 18%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.forecast-item.today {
    width: 100%; /* Ensure it takes up full width */
    padding: 30px; /* Increase padding for larger size */
}

.five-day-forecast .forecast-item {
    background-color: rgb(128, 194, 248); 
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    width: 18%; /* Adjust width of the five-day forecast boxes */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}