body {
    font-family: Arial, sans-serif;
    background-color: #c8c7ce;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    text-align: center;
    text-shadow: 2px 2px 3px black;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 60px;
    color: white;
    width: 100%;
    padding: 20px;
    background: radial-gradient(circle, rgba(63,76,251,1) 0%, rgba(44,148,207,1) 100%);
    top: 0;
    z-index: 1000;
}

h3 {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    font-size: 26px;
    font-weight: bold;
}

p {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

a {
    color: rgb(56, 161, 196);
}

h1 {
    display: flex;
    justify-content: center;
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 2px 2px 3px white;
    color: rgb(15, 15, 71);
    font-size: 45px;
}

.container {
    display: flex;
    margin-top: 90px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    height: calc(100vh - 80px); /* Adjusts to take the full height minus the header */
}

.search-container {
    background: radial-gradient(circle, rgba(63,76,251,1) 0%, rgba(44,148,207,1) 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    margin-top: 25px;
    flex-shrink: 0; /*prevents the search container from shrinking*/
    width: 400px;
}

.search-container form {
    display: flex;
    flex-direction: column;
}

.search-container input, .search-container select, .search-container button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container button {
    background-color: #22c8e6;
    color: #fff;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #486369;
}

.results-container.hidden {
    display: none;
}

.results-container {
    flex-grow: 1;
    box-sizing: border-box;
    overflow-y: auto; /* Ensure the results container can scroll if content overflows */
}

.results {
    background: #1d2746;
    margin-top: 20px;
    color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.result-item {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background-color: rgb(197, 221, 230); 
    margin-bottom: 10px;
    border-radius: 4px;
    color: black;
}

.result-item:last-child {
    border-bottom: none;
}

.result-item a {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: black;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}
.result-item a:hover {
    background-color: rgb(36, 34, 34);
}

.search-history {
    margin-top: 20px;
}

.history-btn {
    display: block;
    width: 100%;
    background-color: #22c8e6;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    text-align: left;
    border-radius: 4px;
}

.history-btn:hover {
    background-color: #486369;
}